<% include ../partials/header.ejs %>

<section class="container-fluid content">
    <div class="row justify-content-center">
        <div class="col-lg col-md d-sm-none"></div>
        <div class="col-lg-10 col-md col-sm">
            <div class="d-flex row justify-content-center pt-3">
                <% images.forEach(function(image){ %>
                    <div class="card index-card my-3 mx-3">
                        <a class="card-img-top index-img" href="/images/<%= image._id %>" style="background-image: url('<%= image.path %>');"></a>
                        <h5 class="card-header d-flex index-card-title align-items-center justify-content-between"><%= image.title %><span class="card-text index-card-year"><%= image.year %></span></h5>
                        <div class="card-body">
                            
                            <% if(image.description.length > 175) { %>    
                                <p class="card-text"><%= image.description.substring(0, 175) %><span class="ellipsis">  .  .  .  </span></p>
                            <% } else { %>
                                <p class="card-text"><%= image.description %></p>
                            <% } %>
                            <a href="/digital/<%= image._id %>" class="btn btn-sm index-card-button mt-1">View</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="col-lg col-md d-sm-none"></div>
    </div>
</section>

<% include ../partials/footer.ejs %>