<% include ../partials/header.ejs %>

<section class="content">

    <div class="d-flex justify-content-center align-items-center show-image-container">
        <% photo.path.forEach(function(path){ %>
            <div class="mySlides">
                <a class="show-image-link" href="<%= path %>" style="background-image: url('<%= path %>');">
                    <div class="numbertext"><%= (photo.path.indexOf(path) + 1) %> / <%= photo.path.length %></div>
                    <img class="show-image" src="<%= path %>">
                </a>
            </div>
        <% }); %>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="row mx-0">

        <div class="col-lg col-md">
        </div>

        <div class="col-lg-10 col-md-10">
            <div class="d-flex flex-column align-items-center">
                <div style="text-align: center; line-height: 0;">
                    <% for(i = 0; i < photo.path.length; i++){ %>
                        <span class="dot" onclick="currentSlide(<%= (i + 1) %>)"></span> 
                    <% }; %>
                </div>
                <div class="card show-card mb-5">
                    <h5 class="card-header d-flex align-items-center justify-content-between show-card-title"><%= photo.title %><span class="card-text show-card-year"><%= photo.year %></span></h5>
                    <div class="card-body">
                        <h4 class="card-title">Camera Used: </h4><p style="padding-left: 1.75rem;"><%= photo.camera %></p>
                        <hr class="mt-4 mb-3">
                        <p class="show-card-text preserve-space"><%= photo.description %></p>
                        <a href="/photography" class="btn show-card-button">Back to Photography</a>
                        <a href="/" class="btn show-card-button">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg col-md">
        </div>

    </div>

</section>

<% include ../partials/footer.ejs %>